---
// Select UI to switch between locales.

import { LOCALES, getLocalePaths } from "@/i18n";
---

<label>
  <span class="material-symbols-outlined">translate</span>
  <select data-languageSelect>
    {
      Object.keys(LOCALES).map((lang) => (
        <option
          label={LOCALES[lang].label}
          value={`${import.meta.env.BASE_URL}/${lang}/`}
          data-lang={lang}
          selected={lang === Astro.currentLocale}
        />
      ))
    }
  </select>
</label>

<script is:inline>
  const selects = document.querySelectorAll("[data-languageSelect]");

  selects.forEach((select) => {
    select.addEventListener("change", (event) => {
      location.href = event.target?.value;
    });
  });
</script>

<style>
  label {
    position: absolute;
    top: var(--sp-m);
    left: var(--sp-m);
    span {
      position: absolute;
      font-size: 1.2em;
      inset: 0.2em;
      opacity: 0.4;
      pointer-events: none;
    }
    select {
      font-size: 14px;
      height: 2em;
      padding-left: 1.8em;
      border: 2px solid rgb(from var(--color-main) r g b / 0.2);
      border-radius: 4px;
    }
  }
</style>
