.c-document {
  > h2 {
    margin-block-start: var(--sp-xl);
  }
  > h3 {
    margin-block-start: var(--sp-m);
  }
  > hr {
    margin-block-start: var(--sp-xl);
    margin-block-end: var(--sp-xl);
  }
  > p {
    margin-block-start: 0.8em;
  }

  > p a {
    color: var(--color-theme);
  }
}
