.c-document {
  h2 {
    font-size: 1.6rem;
    margin-block-start: var(--sp-l);
    letter-spacing: .05em;
  }
  h3 {
    margin-block-start: var(--sp-m);
    opacity: 0.8;
  }
  hr {
    margin-block-start: var(--sp-xl);
    margin-block-end: var(--sp-xl);
    border: 0;
    border-top: 1px solid rgb(from var(--color-main) r g b / 0.1);
  }
  p {
    margin-block-start: 0.6rem;
  }
  p a {
    color: var(--color-theme);
    text-decoration: none;
  }
}

.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-inline: 12px;
  gap: 8px;
  min-width: 80px;
  height: 40px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  background: var(--color-theme);
  color: var(--color-base);
  box-shadow: 0 4px 24px -12px rgb(0 0 0 / 0.2);
  svg-icon {
    font-size: 20px;
    opacity: 0.6;
    margin-inline: -2px;
  }
  &.-small {
    padding-inline: 8px;
    gap: 4px;
    height: 28px;
    min-width: 32px;
    border-radius: 4px;
    svg-icon {
      font-size: 19px;
    }
  }
  &.-gray {
    background: rgb(from var(--color-main) r g b / 0.8);
  }
  &.-lightGray {
    background: rgb(from var(--color-main) r g b / 0.1);
    color: var(--color-main);
    &:hover,
    &:active {
      background: rgb(from var(--color-main) r g b / 0.15);
    }
  }
  &.-caution {
    background: var(--color-caution);
  }
  &:hover,
  &:active {
    filter: brightness(1.1);
  }
  &:disabled,
  &[inert] {
    filter: grayscale(1);
    opacity: 0.4;
    pointer-events: none;
  }
}

.c-input {
  padding-inline: 8px;
  min-height: 32px;
  background: rgb(from var(--color-main) r g b / 5%);
  border-radius: 8px;
  &::placeholder {
    color: rgb(from var(--color-main) r g b / 0.2);
  }
}

.c-popover {
  position: fixed;
  user-select: none;
  flex-direction: column;
  gap: var(--sp-xs);
  color: var(--color-base);
  padding: var(--sp-s);
  border-radius: 12px;
  background-color: var(--color-main);
  border: 1px solid rgb(from var(--color-base) r g b / 20%);
  box-shadow: 2px 12px 64px -24px rgb(0 0 0 / 0.4);
  &:popover-open {
    display: flex;
  }
  button,
  a {
    text-align: left;
    padding: var(--sp-s);
    border-radius: 4px;
    line-height: 1.3;
    &:hover {
      background: var(--color-theme);
    }
  }
  hr {
    border: 0;
    border-top: 1px solid rgb(from var(--color-base) r g b / 20%);
  }
}

.c-tooltip {
  position: relative;
  word-break: keep-all;
  filter: none !important;

  &::after {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .2s ease;
    pointer-events: none;
    z-index: var(--z-tooltip);
    content: attr(title);
    margin-inline: auto;
    bottom: 100%;
    padding: 0.2em 0.5em;
    border-radius: 6px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .05em;
    background: var(--color-main);
    color: rgb(from var(--color-base) r g b / 0.8);
  }
  &:hover,
  &:active {
    &::after {
      opacity: 0.8;
      bottom: 120%;
    }
  }
}
