/* define the layout and structure of the entire page */

.l-main {
  z-index: var(--z-main);
}

.l-nav {
  height: 56px;
}

.l-navHeader {
  z-index: var(--z-navHeader);
  position: fixed;
  inset: 0;
  width: 100%;
  height: 56px;
}

.l-navDrawer {
  --w: 256px;
  width: var(--w);
  height: 100vh;
  max-height: 100vh;
  overscroll-behavior: contain;
  margin: 0;
  border: 0;
  translate: calc(-1 * var(--w));
  transition: translate 0.2s ease-in, overlay 0.2s ease-in allow-discrete,
    display 0.2s ease-in allow-discrete;

  &[open] {
    translate: 0;
    @starting-style {
      translate: calc(-1 * var(--w));
    }
  }
}

.l-document {
  max-inline-size: 800px;
  padding-inline: var(--sp-l);
  margin-inline: auto;
}

.l-centeringContainer {
  min-height: 60vh;
  padding: var(--sp-xl) var(--sp-m) var(--sp-2xl);
  display: grid;
  place-content: center;
  place-items: center;
  gap: var(--sp-m);
  text-align: center;
}
