/* define the layout and structure of the entire page */

.l-main {
  z-index: 1;
}

.l-nav {
  height: 56px;
}

.l-navHeader {
  z-index: 2;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 56px;
}

.l-navDrawer {
  --w: 256px;
  width: var(--w);
  height: 100vh;
  max-height: 100vh;
  overscroll-behavior: contain;
  margin: 0;
  border: 0;
  translate: calc(-1 * var(--w)) 0;

  &[open] {
    translate: 0 0;
    @starting-style {
      translate: calc(-1 * var(--w)) 0;
    }
  }
}

.l-document {
  max-inline-size: 800px;
  padding-inline: var(--sp-m);
  margin-inline: auto;
}
