---
// Header & Navigation UI displayed on each page.

import { Image } from "astro:assets";
import LocaleSelect from "@/components/i18n/LocaleSelect.astro";
import { type Lang, useTranslations } from "@/i18n";
const t = useTranslations(Astro.currentLocale as Lang);

import LogoSymbol from "@/assets/logo-symbol.svg";
import LogoType from "@/assets/logo-type.svg";

const locale = Astro.currentLocale as Lang;
---

<header class="l-header">
  <Image src={LogoSymbol} alt="Figma Finder Logo Symbol" />

  <h1><Image src={LogoType} alt="Figma Finder" /></h1>

  <LocaleSelect />
</header>

<style>
  * {
    flex-wrap: wrap;
    justify-content: center;
  }

  header {
    display: grid;
    place-items: center;
    gap: var(--sp-s);
  }

  h1 {
    margin-block-start: var(--sp-l);
    margin-inline-start: -0.5em;
    font-size: 40px;
    font-family: var(--english-font);
    font-weight: 900;
    @media (width < 480px) {
      font-size: 28px;
    }

    a {
      display: flex;
      align-items: center;
    }
    img {
      width: 6em;
      position: relative;
      inset: 0.1em;
    }
  }
</style>
