---
import { LOCALES, type Lang, useTranslations } from "@/i18n";
import Layout from "@/layouts/Base.astro";
const t = useTranslations(Astro.currentLocale as Lang);

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));
---

<Layout>
  <video src=""></video>

  <footer>
    <a
      href="https://github.com/psephopaiktes/figma-finder"
      target="_blank"
      class="github"
    >
      GitHub
      <span class="material-symbols-outlined"> open_in_new </span>
    </a>

    <a href="https://hira.page/" target="_blank">
      <small>© Akira HIRATA {new Date().getFullYear()}.</small>
    </a>
  </footer>
</Layout>

<style>
  video {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: red;
    margin-block-start: calc(-1 * var(--sp-xl));
    border-radius: 10px;
    box-shadow: 0 24px 64px -32px rgb(0 0 0 / 0.4);
  }

  footer {
    margin-block: var(--sp-m) var(--sp-l);
    text-align: center;
    font-size: 14px;
    opacity: 0.8;
    .github {
      display: inline-flex;
      gap: var(--sp-xs);
      border: 2px solid var(--color-main);
      padding: var(--sp-xs);
      border-radius: 6px;
    }
    a {
      display: block;
      margin-block-start: var(--sp-s);
    }
  }
</style>
