---
import { LOCALES, type Lang, useTranslations } from "@/i18n";
import Layout from "@/layouts/Base.astro";
const t = useTranslations(Astro.currentLocale as Lang);
// import { getRelativeLocaleUrl } from "astro:i18n";

// import { Image } from "astro:assets";
// import heroImageAr from "@/assets/ar/hero.svg";
// import heroImageEn from "@/assets/en/hero.svg";
// import heroImageJa from "@/assets/ja/hero.svg";
// import heroImageZhCn from "@/assets/zh-cn/hero.svg";

const locale = Astro.currentLocale as Lang;

console.log("test", `${Astro.site?.origin + import.meta.env.BASE_URL}`);

export const getStaticPaths = () =>
  Object.keys(LOCALES).map((lang) => ({
    params: { lang },
  }));
---

<Layout>
  <h1>
    {t({
      en: "Welcome to Astro!",
      ja: "Astroへようこそ！",
      "zh-cn": "欢迎使用Astro！",
      es: "¡Bienvenido a Astro!",
      ko: "Astro에 오신 것을 환영합니다!",
    })}
  </h1>
</Layout>

<style></style>
